<form #f="ngForm" (submit)="onSubmitTodo($event, f)">
	<label>Why I Love You All the time again</label><br>
	<input 
		ngModel
		id="todo"
		name="todo"
		#todo="ngModel"
		class="form-group"  
		type="text"
	/>
	<input class="btn btn-primary" type="submit"/>
</form>
<ul class="well">
	<li *ngFor="let todo of todos; let i = index">
		<span 
			(click)="onStrikeThrough($event)"
			[ngClass]="todo.isCompleted ? 'lineIt' : 'noLineIt'"
		>
			{{i + 1}}: {{todo.message}}</span>
		<input type="checkbox" [checked]="todo.isCompleted" (change)="onUpdateTodo(todo.id)"/>
		<button class="btn btn-danger" (click)="onDelete(todo.id)">x</button>
	</li>
</ul>